@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">The Aims Learning Commons features open-use computers, the library collection and tutoring assistance. 
    We also offer wireless access, group study rooms, casual seating and a reading room.</p>
    <p><a href="http://www.aims.edu/student/learning-commons/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    <p> Current Term:  @ViewBag.CurrentTerm</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Computer Learning Lab</h2>
        <p>
            Available computers for Students.
        </p>
        <p><a class="btn btn-default" href="http://www.aims.edu/student/learning-commons/complab/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Kiefer Library</h2>
        <p>Books and More</p>
        <p><a class="btn btn-default" href="http://www.aims.edu/kieferlibrary/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tutoring Services</h2>
        <p>Support for classes</p>
        <p><a class="btn btn-default" href="http://www.aims.edu/student/learning-commons/tsi/">Learn more &raquo;</a></p>
    </div>
</div>